<style type="text/css">
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

h1 {
	color: #669999;
}

a {
	color: #FF3333;
}

a:active,
a:hover,
a:focus {
	color: #830505;
}

.list-group-item.active.active-vb, .list-group-item.active.active-vb:focus, .list-group-item.active.active-vb:hover {
    text-shadow: 0 -1px 0 #286090;
    background-image: -webkit-linear-gradient(top,#669999 0,#73A9A9 100%);
    background-image: -o-linear-gradient(top,#669999 0,#73A9A9 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#669999),to(#73A9A9));
    background-image: linear-gradient(to bottom,#669999 0,#73A9A9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff669999', endColorstr='#ff73A9A9a', GradientType=0);
    background-repeat: repeat-x;
    border-color: #669999;
}
</style>