<!DOCTYPE html>
	<html lang="sk">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<meta name="description" content="{{ page.description }}">
			<meta name="keywords" content="{{ page.keywords }}">
		
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
			
			{% include css_default.html %}
			{% include css_zeleny.html %}
			
		</head>
		<body>
		
		{% include menu.html %}
		
			<div class="container">
			
			{{ content }}
			
			<hr/>
			
        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="/fotky/pleso.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Velické pleso</h3>
                <h4>August 2013</h4>
                <p> Na fotke je Velické pleso, ktoré sa nachádza pri Sliezskom dome. </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-7">
                    <img class="img-responsive" src="/fotky/pleso2.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Štrbské pleso</h3>
                <h4>August 2014</h4>
                <p> Na fotke je Štrbské pleso, kde je počas leta možné využiť člnkovanie. V zime je naopak pri dobrých podmienkach možné sa na plese korčuľovať. </p>
            </div>
        </div>
      
        <hr>

        <div class="row">
            <div class="col-md-7">
                <img class="img-responsive" src="/fotky/sneh.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Zjazdovka</h3>
                <h4>Január 2012</h4>
                <p> Na fotke je odfotená zjazdovka na Štrbskom plese, konkrétne ide o . Na vrchu zjazdovky sa naskytol krásny pohľad. </p>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-7">
                    <img class="img-responsive" src="/fotky/lev.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Levíčatá</h3>
                <h4>August 2015</h4>
                <p>Na fotke sa nachádzajú dve malé levíčatá, Aslan a Kiara. Fotka je odfotená v Zoo Kontakt, kde bolo možné zvieratká aj pohladkať a byť pri nich v priamom kontakte. </p>
            </div>
        </div>
			
			<hr>

			  <footer>
				<p>
					&copy; 2016 <a href="mailto:veronika@balazova.sk">Veronika Balážová</a>
					|
					<a href="https://github.com/balazovaveronika">GitHub</a>
					|
					Dátum: {{ 'now' | date: '%d.%h.%Y' }}
				</p>
			  </footer>
			</div><!-- /.container -->
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
		</body>
	</html>
